@import "tailwindcss";

@theme base {
    /*Primary*/
    --color-customStrongCyan: hsl(171, 66%, 44%);
    --color-customLightBlue: hsl(233, 100%, 69%);

    /*Neutral*/
    --color-customDarkGrayishBlue: hsl(210, 10%, 33%);
    --color-customGrayishBlue: hsl(201, 11%, 66%);
}

@layer base{
    .icon {
        transition: transform 200ms ease-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.5);
        }
    }
    .animation-1 {
        animation: disappear-reappear 2000ms cubic-bezier(0,0,0,1);
    }
    .animation-2 {
        animation: up 2000ms cubic-bezier(0,0,0,1);
    }

    body {
        min-height: 100vh;
        font-size: 1.2em;

        header {
            img {
                transition: transform 600ms ease-out;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.5) rotate(1turn);
                }
                &:active {
                    animation-name: roule;
                    animation-duration: 2000ms;
                    animation-timing-function: ease-in-out;
                }
            }
        }

        button {
            box-sizing: border-box;
            color: white;
            font-weight: 600;
            opacity: 1;
            border-bottom: 8px ridge;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
            &:active {
                box-sizing: border-box;
                box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
                border-bottom: 0 ridge;
            }
        }
    }
    footer {
        a:hover {
            color: var(--color-customStrongCyan);
        }
    }

    @keyframes roule {
        0% {
            transform: translateX(0) rotate(10turn);
        }
        33% {
            transform: translateX(10rem);
        }
        66% {
            transform: translateX(-10rem) rotate(-10turn);
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes disappear-reappear {
        from {
            transform-origin: left;
            transform: translateX(-150%);
        }
        to {
            transform-origin: left;
            transform: translateX(0);
        }

    }
    @keyframes up {
        from {
            transform-origin: top;
            transform: translateY(100%);
        }
        to {
            transform-origin: top;
            transform: translateY(0);
        }
    }
}
